@model List<Rarin_Technologies_API.Entities.Voucher>

    <html>

    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <style>
            body {
                font-family: Arial;
            }

            .col-8 {
                margin: auto;
            }

            table {
                margin: auto;
                background-color: #458ace;
                text-align: left;
                border-collapse: collapse;
                width: 80%;
            }


            th, td {
                padding: 20px;
            }

            thead {
                background-color: #808080;
                border-bottom: solid 5px #0F362D;
                color: white;
            }

            tr:nth-child(even) {
                background-color: #ddd;
            }


            tr:hover td {
                background-color: #369681;
                color: white;
            }
        </style>

    </head>

    <body>
        <div class="col-8 row">

            <div class="col-8 text-center">Reporte de Facturas</div>
        </div>
        <table>
            <div>

                <tr>
                    <th>  <span>Id:</span></th>
                    <th>  <span>Nombre:</span></th>
                    <th>  <span>Fecha:</span></th>
                    <th>  <span>Total:</span></th>
                </tr>

            </div>
            @{double globalTotal = 0.0;}
            @foreach (var voucher in Model)
            {
                <div>
                    <tr>
                        <td> <span class="car-name">@voucher.Client.Person.IdPerson</span></td>
                        <td> <span class="car-name">@voucher.Client.Person.Name</span></td>
                        <td> <span class="car-name">@voucher.CreatedAt.ToString("MM/dd/yyyy HH:mm:ss")</span></td>
                        <td> <span class="car-name">$@voucher.Items.Sum(x =>
                                                {
                                                    globalTotal += x.Cant * x.Product.Price;
                                                    return x.Cant * x.Product.Price;
                                                })</span></td>
                    </tr>
                </div>
                <br />
            }
        </table>
        <div> <strong> <span>Total:</span></strong></div>
        <span class="car-name">@globalTotal</span>
    </body>
</html>

